<!DOCTYPE html>
<html>
<head>
  <title>Acme</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<nav>
  <navbar class="navbar-default navbar-static-side" role="navigation">
    <h4>
      <%= 'Welcome  ' + current_user.name %>
    </h4>
    <span>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-xs btn-primary' %>
    </span>
    <span>
      <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-xs btn-primary' %>
    </span>
   <span>
      <%= link_to 'Log out', destroy_user_session_path, class: 'btn btn-xs btn-danger', method: :delete %>
    </span>
  </navbar>
</nav>
<%= yield %>

</body>
</html>
